  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    text-align: center;
    float: none;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  body{
    background-size: 50%;
  }
 .copy_right_footer{
  background-color: grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align:center;
  font-weight: bold;
 }
canvas{
  box-shadow: 0px 0px 30px grey;
  
}